body {
    font-family: helvetica,arial,freesans,clean,sans-serif;
    color: #555;
    font-size: 90%;
}

#container {
    margin: 0 auto;
    border-bottom: solid 1px black;
}

#topmain {
    width: 100%;
    border-bottom: solid 1px black;
}

#contentmain {
    position: relative;
    float: left;
    border-left: solid 1px black;
    margin-left: -1px;
}

#footer {
    clear: both;
    border-top: solid 1px black;
}

#sidenav {
    width: 10em;
    border-right: solid 1px black;
    float: left;
    margin-right: 0px;
}

/* locations.look */

.description {
    border: solid 1px #66a;
    background-color: #f9f9f9;
    width: 20em;
    padding: 8px;

    font-family: georgia,'Times New Roman',serif;
    font-style: italic;
    letter-spacing: 1px;
}

h2#loc_title {
    color: #2C6639;
    font-family: verdana,sans-serif;
}

textarea {
    width: 300px;
    height: 150px;
}

ul.exits {
    list-style-type: none;
}

ul.exits li {
    margin-top: 0;
}

label.exit {
    text-align: right;
    padding-right: 8px;
    width: 3em;
}

/* locations.new */

label {
    float: left;
    width: 7em;
}

input#new_title {
    width: 200px;
}

textarea#new_description {
    width: 200px;
}

