body {
    background-color: #E6F0FA;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    color: #555;
    font-size: 90%;
}

/* locations.look */

.description {
    border: solid 1px #66a;
    background-color: #f9f9f9;
    width: 20em;
    padding: 8px;

    font-family: georgia,'Times New Roman',serif;
    font-style: italic;
    letter-spacing: 1px;
}

h1#loc_title {
    color: #2C6639;
    font-family: verdana,sans-serif;
}

ul.exits {
    list-style-type: none;
}

ul.exits li {
    margin-top: 0;
}

label.exit {
    text-align: right;
    padding-right: 8px;
    width: 3em;
}

/* locations.new */

label {
    float: left;
    width: 7em;
}

input#new_title {
    width: 200px;
}

textarea#new_description {
    width: 200px;
}

