<html>
 <head>
  [% META title = 'AberMUD::Web KiokuDB Management Interface' %]
  <!--<title>AberMUD::Web KiokuDB Management Interface</title> -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
  <script type="text/javascript" src="/static/js/jquery.js"></script>
 </head>
 <body>
  <div id="topmain">
   <h1>[% c.stash.heading %]</h1>
  </div>
  <div id="sidenav">
   <ul>
    <li>Locations</li>
    <li>Objects</li>
    <li>Mobiles</li>
    <li>Player Data</li>
   </ul>
  </div>
  <div id="contentmain">
  [% content %]
  </div>
  <div id="footer">
   <a href="http://www.catalystframework.org/">
    <img src="/static/images/btn_88x31_powered.png" />
   </a>
  </div>
 </body>
</html>
